In [44]:
#dataset
data=[
['milk','onion','nutmeg','Kidney_beans','eggs','yogurt'],
['dill','onion','nutmeg','Kidney_beans','eggs','yogurt'],
['milk','apple','Kidney_beans','eggs'],
['milk','unicorn','corn','Kidney_beans','yogurt']
,['corn','onion','onion','Kidney_beans','ice-cream','egg']
]

In [45]:
import pandas as  pd 
from mlxtend.preprocessing import TransactionEncoder

In [33]:
! pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\khushal\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: setuptools in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\khushal\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\khushal\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\khushal\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\khushal\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\khushal\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\khushal\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: six in c:\users\khushal\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\khushal\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\khushal\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [46]:
data

[['milk', 'onion', 'nutmeg', 'Kidney_beans', 'eggs', 'yogurt'],
 ['dill', 'onion', 'nutmeg', 'Kidney_beans', 'eggs', 'yogurt'],
 ['milk', 'apple', 'Kidney_beans', 'eggs'],
 ['milk', 'unicorn', 'corn', 'Kidney_beans', 'yogurt'],
 ['corn', 'onion', 'onion', 'Kidney_beans', 'ice-cream', 'egg']]

In [47]:
te=TransactionEncoder()
t_ary=te.fit_transform(data)

In [48]:
df=pd.DataFrame(t_ary,columns=te.columns_)
df

,Kidney_beans,apple,corn,dill,egg,eggs,ice-cream,milk,nutmeg,onion,unicorn,yogurt
0,True,False,False,False,False,True,False,True,True,True,False,True
1,True,False,False,True,False,True,False,False,True,True,False,True
2,True,True,False,False,False,True,False,True,False,False,False,False
3,True,False,True,False,False,False,False,True,False,False,True,True
4,True,False,True,False,True,False,True,False,False,True,False,False

In [49]:
from mlxtend.frequent_patterns import apriori
freq_items=apriori(df,min_support=0.6,use_colnames=True)
freq_items

   support                itemsets
0      1.0          (Kidney_beans)
1      0.6                  (eggs)
2      0.6                  (milk)
3      0.6                 (onion)
4      0.6                (yogurt)
5      0.6    (eggs, Kidney_beans)
6      0.6    (Kidney_beans, milk)
7      0.6   (Kidney_beans, onion)
8      0.6  (Kidney_beans, yogurt)

# Association Rule Mining

In [43]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(freq_items,metric='confidence',min_threshold=0.7)
res.head(6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(eggs),(beans),0.6,1.0,0.6,1.0,1.0,0.0,inf
1,(milk),(beans),0.6,1.0,0.6,1.0,1.0,0.0,inf
2,(onion),(beans),0.6,1.0,0.6,1.0,1.0,0.0,inf
3,(yogurt),(beans),0.6,1.0,0.6,1.0,1.0,0.0,inf

In [50]:
res1=res[['antecedents','consequents','support','confidence','lift']]
res1

  antecedents consequents  support  confidence  lift
0      (eggs)     (beans)      0.6         1.0   1.0
1      (milk)     (beans)      0.6         1.0   1.0
2     (onion)     (beans)      0.6         1.0   1.0
3    (yogurt)     (beans)      0.6         1.0   1.0

In [51]:
res2=res1[res1['confidence']>=1]
res2

  antecedents consequents  support  confidence  lift
0      (eggs)     (beans)      0.6         1.0   1.0
1      (milk)     (beans)      0.6         1.0   1.0
2     (onion)     (beans)      0.6         1.0   1.0
3    (yogurt)     (beans)      0.6         1.0   1.0